@page "/settings/manage-printers"
@layout AuthorizedLayout
@using CellarPassAppAdmin.Shared.Services
@using CellarPassAppAdmin.Client.ViewModels
@using CellarPassAppAdmin.Shared.Enums
@using CellarPassAppAdmin.Shared.Models
@using CellarPassAppAdmin.Shared.Models.RequestModel
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject ToastService toastService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICellarPassAuthenticationStateProvider _cellarPassAuthenticationStateProvider
@attribute [Authorize]

<Title Value="@title"></Title>
<SfSpinner @bind-Visible="isLoading"></SfSpinner>
<div class="card">
    <div class="card-header bg-light">
        <div class="row justify-content-between align-items-center">
            <div class="col-md">
                <h5 class="mb-3 mb-md-0"><a href="settings" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a><span class="far fa-print me-2"></span>Adding Printers</h5>
            </div>
            <div class="col-auto">
                <a class="btn btn-sm btn-primary" href="/settings/manage-printers/create">Add Printer</a>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="theme-wizard border-bottom p-3">
            <ul class="nav justify-content-between nav-wizard">
                <li class="nav-item">
                    <a class="nav-link active fw-semi-bold" href="#bootstrap-wizard-tab1" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                        <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-1"></span></span></span>
                        <span class="d-none d-md-block mt-1 fs--1">Click Add Printer</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab2" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                        <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-2"></span></span></span>
                        <span class="d-none d-md-block mt-1 fs--1">Enter Unique Name</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab3" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                        <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-3"></span></span></span>
                        <span class="d-none d-md-block mt-1 fs--1">Configure Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab4" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                        <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-4"></span></span></span>
                        <span class="d-none d-md-block mt-1 fs--1">Save</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab5" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                        <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-5"></span></span></span>
                        <span class="d-none d-md-block mt-1 fs--1">Test Printer</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="min-vh-75 sf-grid">
            <SfGrid DataSource="@printers" AllowPaging="true" Width="100%">
                <GridFilterSettings Mode="FilterBarMode.Immediate"></GridFilterSettings>
                <GridPageSettings PageSize="50"></GridPageSettings>
                <GridTemplates>
                    <EmptyRecordTemplate>
                        @if (!isLoading && printers.Count <= 0)
                        {
                            <div class=" min-vh-75 font-weight-black fs-8 text-center my-4">
                                <h6><span class="fa-regular fa-exclamation-triangle me-2"></span>No Printers Available</h6>
                                <button type="button" class="btn btn-outline-primary">Get Started</button>
                            </div>
                        }
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderText="Printer Name" TextAlign="TextAlign.Left" FilterSettings="@(new FilterSettings{ Operator = Syncfusion.Blazor.Operator.Contains })" Width="150px">
                        <Template>
                            @{
                                var printerName = (context as PrinterModel).PrinterName;
                                <a href="/settings/manage-printers/edit/57c8a4d9-9a80-4a30-a858-3cf190ffb56f">@($"{printerName}")</a>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(PrinterModel.IPAddress) HeaderText="IP Address" TextAlign="TextAlign.Center" FilterSettings="@(new FilterSettings{ Operator = Syncfusion.Blazor.Operator.Contains })" Width="100px" />
                    <GridColumn Field=@nameof(PrinterModel.CashDrawer) HeaderText="Cash Drawer" TextAlign="TextAlign.Center" DisplayAsCheckBox="true" Width="80px"></GridColumn>
                    <GridColumn HeaderText="" Width="50px">
                        <Template>
                            @{
                                <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown0">
                                    <a class="dropdown-item" href="javascript:void();">Delete Printer</a>
                                    <a class="dropdown-item" href="javascript:void();">Set as Inactive</a>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>

@code
{
    private string title = "Adding Printers | Synergy Commerce Admin Panel";
    private Boolean isLoading = false;
    private class PrinterModel
    {
        public string PrinterName { get; set; }
        public string IPAddress { get; set; }
        public bool CashDrawer { get; set; }
    }
    private List<PrinterModel> printers = new List<PrinterModel>() {
        new PrinterModel(){ PrinterName= "Kitchen Printer 1", IPAddress= "255.255.255.155",CashDrawer=true },
        new PrinterModel(){ PrinterName= "Kitchen Printer 2", IPAddress= "255.255.255.153",CashDrawer=false },
        new PrinterModel(){ PrinterName= "Front Bar 1", IPAddress= "255.255.255.152",CashDrawer=true },
        new PrinterModel(){ PrinterName= "Front Bar 2", IPAddress= "255.255.255.151",CashDrawer=true },
        new PrinterModel(){ PrinterName= "Patio Bar 2", IPAddress= "255.255.255.150",CashDrawer=false },
    };


}
