@layout AuthorizedLayout
@using CellarPassAppAdmin.Client.ViewModels
@using CellarPassAppAdmin.Shared.Models.RequestModel
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using CellarPassAppAdmin.Shared.Enums
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject IMemberViewModel _memberViewModel
@inject ILoginViewModel _loginViewModel
@inject ITicketViewModel _ticketViewModel
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICellarPassAuthenticationStateProvider _cellarPassAuthenticationStateProvider
@inject ILocalStorageService localStorage
@inject ISettingsViewModel _settingsViewModel
@inject ToastService toastService
@attribute [Authorize]

<Title Value="@title"></Title>
<SfSpinner @bind-Visible="SpinnerVisibility"></SfSpinner>
<EditForm @ref="CardConnectForm" Model="@cardConnect" Context="formContext" Class="row g-3">
    <DataAnnotationsValidator />
    <div class="card shadow-none border-dashed">
        @*<div class="card-header border-bottom" hidden="@hide">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    <h5 class="mb-0"><a href="settings/integrated-partners" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a><span class="fa-regular fa-credit-card me-2"></span>CardConnect</h5>
                </div>
                <div class="col-md-auto">
                    @if (!IsActivePaymentGateway)
                    {
                        <button class="btn btn-sm btn-outline-secondary me-2 disabled">Save</button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-primary" @onclick="@(() => SaveCardConnect(formContext))">Save</button>
                    }
                </div>
            </div>
        </div>*@
        <div class="card-body">
            <div class="mb-3">
                <label for="inputCardConnectUsername" class="form-label">Username</label>
                <InputText class="form-control" @bind-Value="@cardConnect.Username" id="inputCardConnectUsername" type="text" placeholder="Username"></InputText>
                <ValidationMessage For="@(() => cardConnect.Username)" />
            </div>
            <div class="mb-3">
                <label for="inputCardConnectPassword" class="form-label">Password</label>
                <InputText class="form-control" @bind-Value="@cardConnect.Password" id="inputCardConnectPassword" type="text" placeholder="Password"></InputText>
                <ValidationMessage For="@(() => cardConnect.Password)" />
            </div>
            <div class="mb-3">
                <label for="inputCardConnectMerchantId" class="form-label">Merchant ID</label>
                <InputText class="form-control" @bind-Value="@cardConnect.MerchantId" id="inputCardConnectMerchantId" type="text" placeholder="Merchant ID"></InputText>
                <ValidationMessage For="@(() => cardConnect.MerchantId)" />
            </div>
            <div class="mb-3">
                <label for="inputCardConnectSiteId" class="form-label">Site ID</label>
                <InputText class="form-control" @bind-Value="@cardConnect.SiteId" id="inputCardConnectSiteId" type="text" placeholder="Site ID"></InputText>
                <ValidationMessage For="@(() => cardConnect.SiteId)" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    //[Parameter]
    //public bool? hide { get; set; }
    [Parameter]
    public List<BusinessPaymentProviderProfileSettingsViewModel>? data { get; set; }
    private string title = "CardConnect | Synergy Commerce Admin Panel";
    public EditForm CardConnectForm { get; set; }
    private bool SpinnerVisibility { get; set; } = false;
    private bool IsActivePaymentGateway { get; set; } = false;
    Member currentMember = new Member();
    CardConnectRequestModel cardConnect = new CardConnectRequestModel();
    List<string> cardConnectMetaKeys = new List<string>(){
        BusinessSettingsMetaKey.CardConnectUsername,
        BusinessSettingsMetaKey.CardConnectPassword,
        BusinessSettingsMetaKey.CardConnectMerchantId,
        BusinessSettingsMetaKey.CardConnectSiteId
    };

    protected override async Task OnInitializedAsync()
    {
        SpinnerVisibility = true;

        if (data != null && data.Any(x => x.MetaNamespace == BusinessSettingsMetaNamespace.CardConnect))
        {
            cardConnect = new CardConnectRequestModel
            {
                Username = data.Where(x => x.MetaKey == BusinessSettingsMetaKey.CardConnectUsername).FirstOrDefault().MetaValue,
                Password = data.Where(x => x.MetaKey == BusinessSettingsMetaKey.CardConnectPassword).FirstOrDefault().MetaValue,
                MerchantId = data.Where(x => x.MetaKey == BusinessSettingsMetaKey.CardConnectMerchantId).FirstOrDefault().MetaValue,
                SiteId = data.Where(x => x.MetaKey == BusinessSettingsMetaKey.CardConnectSiteId).FirstOrDefault().MetaValue,
            };
        }

        SpinnerVisibility = false;
    }

    public async Task SaveCardConnect(EditContext editContext)
    {
        if (editContext.Validate())
        {
            SpinnerVisibility = true;
            var businessSettings = await Helper.BusinessSettingsMapping(cardConnect, currentMember.Id, BusinessSettingsMetaNamespace.CardConnect, cardConnectMetaKeys);
            var response = await _settingsViewModel.CreateBusinessSettingListAsync(businessSettings);
            SpinnerVisibility = false;
            if (response.success)
            {
                toastService.ShowToast(Constants.SettingsUpdateMessage, ToastLevel.Success);
            }
            else
            {
                toastService.ShowToast(response.error_info.description, ToastLevel.Error);
            }
        }
    }
}
